In [15]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

df = pd.read_csv('healthcare-dataset-stroke-data.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [ ]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()
hot_encoder = OneHotEncoder()

# Columns to encode
columns_to_encode = ['ever_married', 'Residence_type']

columns_to_encode_2 = ['work_type', 'smoking_status', 'gender']

# Apply label encoding to each column
for column in columns_to_encode:
    df[column] = label_encoder.fit_transform(df[column])

# Apply one-hot encoding to each column in columns_to_encode_2
encoded_columns = hot_encoder.fit_transform(df[columns_to_encode_2]).toarray()

# Create a DataFrame for the encoded columns with appropriate column names
encoded_df = pd.DataFrame(encoded_columns, columns=hot_encoder.get_feature_names_out(columns_to_encode_2))

# Concatenate the original DataFrame with the encoded DataFrame
df = pd.concat([df, encoded_df], axis=1)

# Drop the original columns that were one-hot encoded
df.drop(columns=columns_to_encode_2, inplace=True)

df.head()

,id,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,...,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,gender_Female,gender_Male,gender_Other
0,9046,67.0,0,1,1,1,228.69,36.6,1,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1,51676,61.0,0,0,1,0,202.21,NaN,1,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,31112,80.0,0,1,1,0,105.92,32.5,1,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,60182,49.0,0,0,1,1,171.23,34.4,1,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,1665,79.0,1,0,1,0,174.12,24.0,1,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [19]:

# Initialize StandardScaler
scaler = MinMaxScaler((0,1))

# Select numeric columns to scale
numeric_columns = ['age', 'avg_glucose_level', 'bmi']

# Apply scaling to the numeric columns
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              5110 non-null   int64
 1   age                             5110 non-null   float64
 2   hypertension                    5110 non-null   int64
 3   heart_disease                   5110 non-null   int64
 4   ever_married                    5110 non-null   int32
 5   Residence_type                  5110 non-null   int32
 6   avg_glucose_level               5110 non-null   float64
 7   bmi                             4909 non-null   float64
 8   stroke                          5110 non-null   int64
 9   work_type_Govt_job              5110 non-null   float64
 10  work_type_Never_worked          5110 non-null   float64
 11  work_type_Private               5110 non-null   float64
 12  work_type_Self-employed         5110 non-null   float64
 13  work_type_children              5110 non-null   float64
 14  smoking_status_Unknown          5110 non-null   float64
 15  smoking_status_formerly smoked  5110 non-null   float64
 16  smoking_status_never smoked     5110 non-null   float64
 17  smoking_status_smokes           5110 non-null   float64
 18  gender_Female                   5110 non-null   float64
 19  gender_Male                     5110 non-null   float64
 20  gender_Other                    5110 non-null   float64
dtypes: float64(15), int32(2), int64(4)
memory usage: 798.6 KB

In [18]:
df.describe()

,id,age,hypertension,heart_disease,ever_married,Residence_type,avg_glucose_level,bmi,stroke,work_type_Govt_job,...,work_type_Private,work_type_Self-employed,work_type_children,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,gender_Female,gender_Male,gender_Other
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000,5110.000000,...,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000
mean,36517.829354,0.526692,0.097456,0.054012,0.656164,0.508023,0.235563,0.212981,0.048728,0.128571,...,0.572407,0.160274,0.134442,0.302153,0.173190,0.370254,0.154403,0.585910,0.413894,0.000196
std,21161.721625,0.276033,0.296607,0.226063,0.475034,0.499985,0.209046,0.089966,0.215320,0.334758,...,0.494778,0.366896,0.341160,0.459236,0.378448,0.482920,0.361370,0.492612,0.492578,0.013989
min,67.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17741.250000,0.304199,0.000000,0.000000,0.000000,0.000000,0.102137,0.151203,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,36932.000000,0.548340,0.000000,0.000000,1.000000,1.000000,0.169721,0.203895,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,54682.000000,0.743652,0.000000,0.000000,1.000000,1.000000,0.272228,0.261168,0.000000,0.000000,...,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000
max,72940.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000